/*PAGE INDEX*/

*:before,
*:after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    ;
}

.line-menu {
    height: 3rem;
}

.line-men,
a {
    font-family: 'Anton', sans-serif;
}

.header{
    height: auto;
    width: auto;
    background-color: rgb(63, 56, 156);
}

.logo-head {
    display: grid;
    max-width: 100%;
    min-width: 500px;
    max-height: 40%;
    min-height: 20%;
    grid-template-columns: 400px 200px 445px 400px;
    grid-template-rows: 200px;
    position: relative;
}

.logo-head,
.logo-item{   
    background-color: rgba(23, 10, 141, 0.9);
    text-align: right;
    justify-items: center;
    align-content: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: -2px 5px 4px black;
}

.img-logo {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 15px;
    left: 33%;
}
.text-item1{
    margin-left: 25px;
    text-align: justify;
    top: 20px;
    left: 65%;
}
.text-item2{
    margin-left: 25px;
    text-align: justify;
    top: 20px;
    left: 150%;
}
.img-logo2 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 15px;
    left: 45%;
   
}

.menu-div {
    display: inline-block;
    width: 98%;
    background-color: rgba(23, 10, 141, 0.9);
    margin-left: 0px;
    padding: 10px;
    text-align: center;
}

.menu-div a {
    display: inline-block;
    width: 200px;
    font-size: 1.2rem;
    margin: 10px 0px 10px;
    color: rgb(211, 214, 213);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-div a:hover {
    color: rgb(163, 238, 192);
}

.img-page-consts {
    width: 100px;
    height: 100px;
    left: 50%;
}

.img {
    width: 400px;
    height: 400px;
}
body {
    background-image: url(../img/agula.png);
}

.content {
    position: box;
    width: 400px;
    height: 200px;
    background-color: rgb(212, 211, 211);
    margin: 1S0px auto;
    border-radius: 10px;
    border: 2px solid rgb(197, 197, 197);
}

.header-info {
    border-bottom: 2px solid rgb(92, 92, 94);
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: darkslategrey;
}

.label-mail label {
    font-size: 16px;
    color: rgb(100, 46, 46);
}

.label-mail input {
    height: 20px;
    margin-left: 14px;
    border-radius: 6px;
    border: none;
}

.div-btn {
    margin-bottom: auto;
    margin-left: auto;
}

.content-form {
    background-color: cadetblue;
    width: 100px;
}
.content-list {
    display: block;
}

.title-div {
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: url(../img/lista.jpg);
}

